/* Archivo de estilos para el componente home */
.coleccion{
	background-color: #f0e8e8;
	border-radius: 5px;
}

h4{
	margin-bottom: 15px;
}

.guardar{
	font-size: 1.2rem;
}

.guardar:hover{
	background-color: #0b5ed7;
}