<!-- Plantilla html del componente home -->
<app-navbar></app-navbar>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-3 p-0 text-center">
			<app-users-list></app-users-list>
		</div>
		<div class="col-md-8">
			<div class="container mt-4">
				<div class="row mb-4">
					@if (usuario) {
						<div class="col-md-12 text-center">
							<h1>¡Bienvenido/a {{ usuario.nombre_usuario }}!</h1>
							<p>Esta es tu página de inicio, donde podrás poner al día tus colecciones.</p>
						</div>
					}
				</div>
			</div>
			<div class="colecciones">
					<div class="container p-3 mb-4 coleccion">
					<div class="row justify-content-center">
						<div class="col-md-10">
							@if (coleccion1) {
								<app-checklist [coleccion]="coleccion1" [editable]="true"></app-checklist>
							}
							<button class="btn btn-primary mt-3 px-4 py-2 shadow-sm d-block mx-auto guardar"
								(click)="guardarCromos(coleccion1, 1)">Guardar</button>
						</div>
					</div>
				</div>

				<div class="container p-3 mb-4 coleccion">
					<div class="row justify-content-center">
						<div class="col-md-10">
							@if (coleccion2) {
								<app-checklist [coleccion]="coleccion2" [editable]="true"></app-checklist>
							}
							<button class="btn btn-primary mt-3 px-4 py-2 shadow-sm d-block mx-auto guardar"
								(click)="guardarCromos(coleccion2, 2)">Guardar</button>
						</div>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>