<!-- Plantilla html del componente chat -->
<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 p-0 text-center">
      <app-users-list></app-users-list>
    </div>
    <div class="col-md-8">
      @if (usuario) {
        <div class="container-mt-4">
          <div class="chat-container">
            <div class="chat-header">
              <h3>Chat de {{ nombre_receptor }}</h3>
            </div>

            <div class="chat-messages" #scrollContainer>
              @for (mensaje of mensajes; track $index) {
                <div 
                  [ngClass]="{ 'mensaje-emisor': mensaje.id_emisor === idEmisor, 'mensaje-receptor': mensaje.id_emisor !== idEmisor }"
                  class="mensaje">
                  <span>{{ mensaje.contenido }}</span>
                  <div class="fecha">{{ mensaje.fecha_envio  }}</div>
                </div>
              }
            </div>

            <div class="chat-input">
              <input 
                [(ngModel)]="mensaje" 
                type="text" 
                placeholder="Escribe un mensaje..." 
                (keyup.enter)="enviarMensaje()" />
              <button (click)="enviarMensaje()">Enviar</button>
            </div>
          </div>
        </div>
      } @else {
        <div class="container mt-4">
          <div class="row mb-4">
            <div class="col-md-12 text-center">
              <h2>Perfil no encontrado</h2>
              <p>El usuario no existe o no está disponible.</p>
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>
