/* Estilo para el navbar */
.navbar {
	background-color: #343a3f;
	color: #ffffff;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.navbar a {
	color: #ffffff;
	text-decoration: none;
	margin: 0 1rem;
	font-weight: bold;
}

.navbar a:hover {
	color: #ffc107;
}

.navbar-brand {
	font-size: 1.5rem;
	font-weight: bold;
}

.navbar-menu {
	display: flex;
	gap: 1rem;
}

.navbar-toggle {
	display: none;
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}