/* You can add global styles to this file, and also import other style files */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	height: 100%;
	width: 100%;
}

body {
	background-color: #d8e5e4;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}

app-root {
	display: block;
	width: 100%;
	height: 100%;
}